<% study_item.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_with model: study_item, local: true do |f| %>
<div class="form-group"%>
  <%= f.label :title, "Título" %>
  <%= f.text_field :title, {class:"form-control"} %>
</div>
  
<div class="form-group">
  <%= f.label :description, "Descrição" %>
  <%= f.text_area :description, {class:"form-control"} %>
</div>
  
<div class="form-group">
  <%= f.label :deadline, "Prazo" %>
  <%= f.date_field :deadline, {class:"form-control"} %>
</div>
  
<!--To do: space out checkboxes-->
<div class="form-group">
  <%= f.label :category_id, "Categoria" %>
  <div class="form-check">
    <%= f.collection_check_boxes(:category_ids, categories.order(:title), 
                                :id, :title) %>
  </div>
</div>

<!--To do: space out checkboxes-->
<div class="form-group">
  <%= f.label :type, "Tipo" %>
  <div class="form-check">
    <%= f.collection_radio_buttons :type_id, types, :id, :title %>
  </div>
</div>

<div class="form-group">
  <%= f.submit "Salvar", class: "btn btn-primary" %>
  <%= link_to 'Voltar', study_item, class: "btn btn-secondary"%>
</div>
<% end %>