<p><strong><%= study_item.title %></strong></p>
<p><%= study_item.description %></p>
<%if study_item.deadline.present? %>
  <p><%= study_item.status.capitalize %>
  - Prazo: <%= study_item.deadline.strftime("%d/%m/%y") %>
  </p>
<%end%>
<p>Categoria: <%= study_item.categories %></p>
