<!--study items-->
<h5 class = "center"> 
  <%= link_to study_item.title, study_item_path(study_item) %> 
</h5>
<p><small>
  <%= render partial: 'study_items/icon', locals: {type: study_item.type.title.downcase} %> •
  <%= study_item.comments.size %> <i class="fas fa-comment"></i> • 
  <%= study_item.categories %>
</small></p>
<p> <%= study_item.description_preview %> </p>
<p> <%= "Prazo: #{study_item.deadline.strftime('%d/%m/%y')}" if study_item.deadline.present? %> </p>

<!--buttons-->
<% if study_item.complete? %>
  <p> Concluído em: 
  <%= study_item.completed_at.strftime('%d/%m/%y %H:%M') %>
  </p>
<% else %>       
  <p><%= link_to 'Marcar como concluído!', 
    complete_study_item_path(study_item), 
    method: :patch,
    class: "btn btn-success btn-block" 
  %></p>
<% end %>

<div class = "row">
  <div class = "col-6">
    <%= link_to 'Editar', 
        edit_study_item_url(study_item), 
        class: "btn btn-secondary btn-block" 
    %>
  </div>
  <div class = "col-6">
    <%= link_to 'Deletar', 
        study_item_path(study_item), 
        method: :delete, 
        class: "btn btn-danger btn-block" 
    %>
  </div>
</div>