<h1>Diário de Estudo!</h1>

<h2><%= link_to 'Cadastre seu item de estudo', new_study_item_path %> </h2>

<%= render partial: 'search_form', locals: {study_item: @study_item} %>

<h3>Todos os itens de estudo</h3>

<table class="table" style="width: 50%">
  <thead>
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Status</th>
      <th scope="col">Prazo</th>
      <th scope="col">Categoria</th>
    </tr>
  </thead>

  <tbody>
  <% @study_items.each do |study_item| %>
    <tr>
      <td><%= link_to study_item.title, study_item_path(study_item) %></td>
      <td><%= study_item.status_ %></td>
      <td><%= "#{study_item.deadline.strftime('%d/%m/%y')}" unless study_item.deadline.nil?%></td>
      <td><%= study_item.category.title %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2><%= link_to 'Categorias', categories_path%> </h2>