
<h2><%= @study_item.title %></h2>
<p><%= @study_item.category.title %></p>
<p><%= @study_item.description %></p>
<p><%= @study_item.deadline %></p>
<%= link_to 'Concluído!', 
      study_item_path(@study_item, { study_item: { status: 1 } }), 
      method: :patch %>
<%= link_to 'Editar', edit_study_item_url(@study_item) %>
<%= link_to 'Deletar', study_item_path(@study_item), :method => :delete %>

<h3><%= "Comentários" %></h3>
<%= render @study_item.comments %>

<h3><%= "Adicione um comentário" %></h3>
<%= render 'comments/form' %>

<p><%= link_to 'Voltar', root_path%></p>