<div class = "row">
  <div class = "col-4 py-3 border">
    <%= render @study_item %>
    <%= render partial: "study_item's_buttons", locals: { study_item: @study_item } %>
  </div>
</div>
<div class = "row">
  <div class = "col-4">
    <br><br>
    <!-- render all comments -->
    <h3><%= "Comentários" %></h3>
    <%= render @study_item.comments %>

    <!-- render new comment form -->
    <%= render 'comments/form' %>

    <br><%= link_to 'Voltar', root_path, class: "btn btn-link"%>
</div>
</div>