
<h2><%= @study_item.title %></h2>
<p><%= @study_item.category %></p>
<p><%= @study_item.description %></p>
<p><%= @study_item.deadline %></p>
<%= link_to 'Editar', edit_study_item_url %>
<%= link_to 'Deletar', study_item_path(@study_item), :method => :delete %>

<%= form_with model: @study_item, method: 'PATCH' do |form| %>
  <p><%= form.check_box :status %>
  <%= form.label :status, "Concluído" %></p>
  <p><%=form.button("Salvar") %></p>
<% end %>

<h3><%= "Comentários" %></h3>
<%= render @study_item.comments %>

<h3><%= "Adicione um comentário" %></h3>
<%= render 'comments/form' %>

<p><%= link_to 'Voltar', root_path%></p>