<h2><%= @study_item.title %></h2>
<p><%= @study_item.category %></p>
<p><%= @study_item.description %></p>
<p><%= @study_item.deadline %></p>
<%= link_to 'Editar', edit_study_item_url %>
<%= link_to 'Deletar', study_item_path(@study_item), :method => :delete %>

<%#TO DO: move to edit view%>
<%= form_with do |form| %>
<p><%= form.check_box :status %>
<%= form.label :status_done, "Concluído" %></p>
<p><%= form.label :comment, "Comente aqui" %></p>
<p><%= form.text_area :comment %></p>
<p><%= form.submit %></p>
<% end %>

<p><%= link_to 'Voltar', root_path%></p>
