<% category.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_with model: category, local: true do |f| %>
  <%= f.label :title, "Título" %><br>
  <%= f.text_field :title %><br><br>
  <%= f.submit %>
<% end %>