<div class = "row mb-3 mx-auto">
  <div class = "col py-2">
    <h3>Categorias</h3>
  </div>
</div>

<div class = "row mb-3 mx-auto">
  <div class = "col-2 p-3 m-3 border bg-light">
  <!-- find better way to do this -->
    <a href='/categories/new'><p style="text-align:center"><i class="fas fa-plus fa-3x"></i></p></a>
    <%= link_to 'Adicionar categoria', new_category_path, style:"text-align:center" %>
  </div>

  <% @categories.each do |category| %>
    <div class = "col-2 p-3 m-3 border bg-light" style="text-align:center">
      <h4><%= link_to category.title, category_path(category) %> </h4>
      <%= link_to 'Editar', edit_category_path(category), class: "btn btn-sm btn-secondary" %>
      <%= link_to 'Deletar', category_path(category), class: "btn btn-sm btn-danger", method: :delete%>
    </div>
  <% end %>
</div>

<%= link_to 'Voltar', root_path, class: "btn btn-link" %>
